{% extends "base.html" %}
{% block title %} Contact us  {% endblock title %}

{% block body %}
<div>
    <div class="resp">
        <div class="wrapper">
        <form class="form">
          <div class="pageTitle title">Contact Us</div>
          <div class="secondaryTitle title">Please fill this form to Contact Us.</div>
          <input type="text" class="name formEntry" placeholder="Name" />
          <input type="text" class="email formEntry" placeholder="Email"/>
          <textarea class="message formEntry" placeholder="Message"></textarea> 
          <button class="submit formEntry" onclick="thanks()">Submit</button>
        </form>
      </div>
      <script src="app.js"></script>
    </div>
    
</div>


{% endblock body %}