{% extends "base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> {% endblock link %}

<script src="{% static '/js/login.js' %}"></script> 
{% block title %} LOG IN  {% endblock title %}

{% block body %}

  
<div id="box">
  
  <div id="title"><b>LOGIN PANEL</b></div>
  
  <input placeholder="Login" type="text" id="login"></input>
<input placeholder="Password" type="password" id="password"></input>

<button id="btn" type="button"><b>LOGIN</b></button>

<div onclick="REGISTER()" id="crt">Dont't have an account. Create.</div>
  
</div>



<div id="boxr">
  
  <div id="title2"><b>REGISTER PANEL</b></div>
  
  <input placeholder="Login" type="text" id="login2"></input>
<input placeholder="E-mail" type="email" id="mail"></input>
<input placeholder="Password" type="password" id="password2"></input>

<button id="btn2" type="button"><b>REGISTER</b></button>

<div onclick="LOGIN()" id="lgn">Have an account. Login.</div>
  
</div>


<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
<h2>kjfzkjgfjsgf</h2>
{% endblock body %}