

#box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 550px;
  background: rgb(174, 115, 222, 0.2);
  border-radius: 20px;
}

#title{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 100px;
  background: rgb(61, 23, 92, 0.8);
  border-radius: 20px;
}
#title b{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  font-size: 30px;
}


#login{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  width: 270px;
  height: 50px;
  outline: none;
  border: none;
  background: none;
  font-family: sans-serif;
  color: white;
  border-bottom: 2px solid white;
  font-size: 20px;
}

#password{
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%);
  width: 270px;
  height: 50px;
  outline: none;
  border: none;
  font-family: sans-serif;
  background: none;
  color: white;
  border-bottom: 2px solid white;
  font-size: 20px;
}

#btn{
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translate(-50%);
  width: 180px;
  height: 80px;
  font-family: sans-serif;
  outline: none;
  border: none;
  background: rgb(84, 0, 156, 0.4);
  color: white;
  font-size: 30px;
}
#btn:hover{
  background: rgb(84, 0, 156, 1);
  cursor: pointer;
}

#crt{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  color: #70607d;
  font-family: sans-serif;
  font-size: 13px;
}
#crt:hover{
  cursor: pointer;
  color: white;
}



/**/



#boxr{
  position: absolute;
  top: -500%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 550px;
  background: rgb(174, 115, 222, 0.2);
  border-radius: 20px;
}

#lgn{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  color: #70607d;
  font-family: sans-serif;
  font-size: 13px;
}
#lgn:hover{
  cursor: pointer;
  color: white;
}

#btn2{
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translate(-50%);
  width: 180px;
  height: 80px;
  font-family: sans-serif;
  outline: none;
  border: none;
  background: rgb(84, 0, 156, 0.4);
  color: white;
  font-size: 30px;
}
#btn2:hover{
  background: rgb(84, 0, 156, 1);
  cursor: pointer;
}

#password2{
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%);
  width: 270px;
  height: 50px;
  outline: none;
  border: none;
  font-family: sans-serif;
  background: none;
  color: white;
  border-bottom: 2px solid white;
  font-size: 20px;
}

#login2{
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%);
  width: 270px;
  height: 50px;
  outline: none;
  border: none;
  background: none;
  font-family: sans-serif;
  color: white;
  border-bottom: 2px solid white;
  font-size: 20px;
}

#mail{
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  width: 270px;
  height: 50px;
  outline: none;
  border: none;
  background: none;
  font-family: sans-serif;
  color: white;
  border-bottom: 2px solid white;
  font-size: 20px;
}

#title2{
  text-align: center;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 100px;
  background: rgb(61, 23, 92, 0.8);
  border-radius: 20px;
}
#title2 b{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  font-size: 30px;
}